<div class="container text-white content">

  <div class="row">
    <div class="col namePlanet">
      <h1 class="text-center">{{planet.name}}</h1>
    </div>
  </div>

  <div class="row dados">
    <div class="col text-right">
      POPULATION:
    </div>
    <div class="col">
      {{planet.population}}
    </div>
    <div class="w-100"></div>
    <div class="col text-right">
      CLIMATE:
    </div>
    <div class="col">
      {{planet.climate}}
    </div>
    <div class="w-100"></div>
    <div class="col text-right">
      TERRAIN:
    </div>
    <div class="col">
      {{planet.terrain}}
    </div>
  </div>

  <div class="row titleFilm" >
    <div class="col text-center" >
      FEATURED IN: {{noFilm}} <p *ngFor="let titleFilms of films"> {{titleFilms.films}} </p>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn text-white" id="btn" (click)="next()">
        <span id="span">NEXT</span>
      </button>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="error">
  An error has occurred, please try again later.
</div>