@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background: url("./assets/darth.jpg") ;
    height: 100px;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}
